/**
 * @name jackstheme
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/mQrRQH0.jpg');
  --backgroundColor: #0D0D0D;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0.25;
  --homeImage: url('https://i.imgur.com/fu34cZ3.png');
  --homeImageSize: cover;
  --themeColor1: #BE83C8;
  --themeColor2: #BE83C8;
  --customFont: Work Sans;
  --backgroundCode: rgb(39,40,47,1);
  --backgroundName: rgb(29,31,44,1);
}

/* Any custom CSS below here */


